﻿@using Airlines.Persistence.Basic.Entities
@model IEnumerable<Airline>

@{
    ViewData["Title"] = "Airlines";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
}

<div>
    <section id="top-section">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/imgs/left-sidebar.png" alt="Return Back" />
        </a>
        <h2>Airlines</h2>
        <div id="top-section-right-element"></div>
    </section>

    @await Html.PartialAsync("_ShowHideButtonPartial", new ShowHideViewModel("all-section", "All"))

    <section id="all-section">
        @{
            var airlineFilteringColumns = typeof(Airline).GetProperties().Select(x => x.Name).ToList();
            airlineFilteringColumns.Remove("Id");
        }

        @await Html.PartialAsync("_AllSearchPartial", airlineFilteringColumns)

        <hr />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Founded</th>
                    <th>FleetSize</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var airline in Model)
                {
                    <tr>
                        <td>@airline.Name</td>
                        <td>@airline.Founded</td>
                        <td>@airline.FleetSize</td>
                        <td class="long-text">@airline.Description</td>
                    </tr>
                }
            </tbody>
        </table>

        @await Html.PartialAsync("_ExpandShrinkAllButtonPartial", "#all-section table tbody")

        <a href="#add-section"><button class="primary-btn">Show Form</button></a>
    </section>

    <section id="add-section">
        <form method="post" asp-action="Add">
            @{
                var input = new Airline();
            }
            <fieldset>
                <legend>Add New Airline</legend>
                <div>
                    <label asp-for=@input.Name></label>
                    <input asp-for=@input.Name name=@nameof(input.Name) />
                    <span asp-validation-for=@input.Name></span>
                </div>

                <div>
                    <label asp-for=@input.Founded></label>
                    <input asp-for=@input.Founded name=@nameof(input.Founded) type="date" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for=@input.Founded></span>
                </div>

                <div>
                    <label asp-for=@input.FleetSize>Fleet Size</label>
                    <input asp-for=@input.FleetSize name=@nameof(input.FleetSize) />
                    <span asp-validation-for=@input.FleetSize></span>
                </div>

                <div>
                    <label asp-for=@input.Description></label>
                    <textarea asp-for=@input.Description name=@nameof(input.Description)></textarea>
                    <span asp-validation-for=@input.Description></span>
                </div>

                <div>
                    <input class="primary-btn" type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/showHideItemBtn.js" asp-append-version="true"></script>
    <script src="~/js/expandShrinkBtn.js" asp-append-version="true"></script>
    <script src="~/js/validationAirline.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>
}