﻿@model IEnumerable<string>

<div id="search-container">
    <form method="get">
        <input type="text" name="keyword" placeholder="Enter Search Word...">
        <select name="category">
            @foreach (var item in Model)
            {
                <option value="@item">@item</option>
            }
        </select>
        <input class="primary-btn" type="submit" value="Search">
    </form>
</div>