﻿<header>
    <nav id="main-menu" class="menu">
        <a asp-controller="Home" asp-action="Index">
            <h1>Rise Airlines</h1>
            <img src="~/imgs/header-plane.png" alt="Logo" />
        </a>
        <ul class="inline-ul">
            <li><a asp-controller="Airport" asp-action="Index">Airports</a></li>
            <li><a asp-controller="Airline" asp-action="Index">Airlines</a></li>
            <li><a asp-controller="Flight" asp-action="Index">Flights</a></li>
        </ul>
    </nav>
</header>