﻿@using Airlines.Business.Models
@model HomeIndexPageViewModel

@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div id="dashboard">
    <h1>Welcome To Dashboard</h1>
    <ul class="inline-ul">
        <li>
            <section>
                <h3>Airports</h3>
                <img src="~/imgs/mdi-airport.png" alt="Airport logo" />
                <p>@Model.AirportsCount</p>
            </section>
            <a class="btn" asp-controller="Airport" asp-action="Index" asp-fragment="add-section">
                Add New Airport
            </a>
        </li>
        <li>
            <section>
                <h3>Airlines</h3>
                <img src="~/imgs/ri-plane-fill.png" alt="Airline logo" />
                <p>@Model.AirlinesCount</p>
            </section>
            <a class="btn" asp-controller="Airline" asp-action="Index" asp-fragment="add-section">
                Add New Airline
            </a>
        </li>
        <li>
            <section>
                <h3>Flights</h3>
                <img src="~/imgs/carbon-flight-schedule.png"
                     alt="Flight logo" />
                <p>@Model.FlightsCount</p>
            </section>

            <a class="btn" asp-controller="Flight" asp-action="Index" asp-fragment="add-section">
                Add New Flight
            </a>
        </li>
    </ul>
</div>
