h2 {
  font-weight: normal;
  font-size: xx-large;
}

#top-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  justify-content: center;
}

#all-section {
  width: fit-content;
  margin: auto;
  text-align: center;
}

#all-section hr {
  border-color: #e5e5e557;
}

#all-section table {
  margin-top: 1rem;
  border-collapse: collapse;
  text-align: center;
}

#all-section table thead {
  display: block;
  background-color: #e5e5e5;
}

#all-section table tbody {
  display: block;
  max-height: 15rem;
  overflow-y: auto;
}

#all-section table tbody::-webkit-scrollbar {
  opacity: 0;
  width: 5px;
}

#all-section table tbody::-webkit-scrollbar-thumb {
  background: #000000;
}

#all-section table th,
td {
  border: 1px solid #000000;
  padding: 10px;
  width: 10rem;
}

.long-text {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-text:hover {
  overflow: visible;
  text-overflow: inherit;
  white-space: normal;
}

.primary-btn {
  border: none;
  border-radius: 7px;
  background-color: #fca311;
  color: #ffffff;
  font-weight: bolder;
  padding: 5px 5rem;
  margin: 1rem auto;
  cursor: pointer;
}

.primary-btn:hover {
  transform: scale(0.94);
  transition: all 0.1s ease-in-out;
}

#add-section {
  width: 40%;
  margin: 3rem auto;
}

#add-section form fieldset {
  border-color: #e5e5e557;
  border-radius: 10px;
}

#add-section form div {
  margin: 2rem;
  margin-left: 1rem;
}

#add-section form label,
input,
textarea {
  display: block;
  width: 100%;
}

#add-section input:not(.primary-btn),
textarea {
  border: 1px solid #adadad;
  border-radius: 7px;
  padding: 10px;
  padding-right: 0;
}

#add-section div:has(> input.primary-btn) {
  margin-right: 1rem;
}

#add-section input.primary-btn {
  padding: 10px;
}

.inline-inputs-container {
  display: flex;
  margin: 0 !important;
}

.inline-inputs-container div {
  width: 50%;
}

/* Before inline inputs container */
div:has(+ .inline-inputs-container) {
  margin-bottom: 0 !important;
}

/* After inline inputs container */
.inline-inputs-container + div {
  margin-top: 0 !important;
}
