body {
  margin: 0;
  font-family: Arial;
}

main {
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #fca311;
}

.inline-ul {
  display: flex;
}

.inline-ul li {
  list-style-type: none;
  margin: 0 1rem;
}

.menu a.active {
  color: #fca311;
}

#main-menu {
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

#main-menu h1 {
  font-size: large;
  font-weight: normal;
  display: inline;
}

#main-menu img {
  margin-left: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  font-size: small;
  color: #ffffff;
  text-align: center;
}
