﻿@using Airlines.Persistence.Basic.Entities
@model IEnumerable<Flight>

@{
    ViewData["Title"] = "Flights";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
}

<div>
    <section id="top-section">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/imgs/left-sidebar.png" alt="Return Back" />
        </a>
        <h2>Flights</h2>
        <div id="top-section-right-element"></div>
    </section>

    @await Html.PartialAsync("_ShowHideButtonPartial", new ShowHideViewModel("all-section", "All"))

    <section id="all-section">
        @{
            var flightFilteringColumns = typeof(Flight).GetProperties().Select(x => x.Name).ToList();
            flightFilteringColumns.Remove("Id");
            flightFilteringColumns.Remove("FromNavigation");
            flightFilteringColumns.Remove("ToNavigation");
        }

        @await Html.PartialAsync("_AllSearchPartial", flightFilteringColumns)

        <hr />
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model)
                {
                    <tr>
                        <td>@flight.Number</td>
                        <td>@flight.From</td>
                        <td>@flight.To</td>
                        <td>@flight.Departure</td>
                        <td>@flight.Arrival</td>
                    </tr>
                }
            </tbody>
        </table>
        
        @await Html.PartialAsync("_ExpandShrinkAllButtonPartial", "#all-section table tbody")

        <a href="#add-section"><button class="primary-btn">Show Form</button></a>
    </section>

    <section id="add-section">
        <form asp-action="Add" method="post">
            @{
                var input = new Flight();
            }
            <fieldset>
                <legend>Add New Flight</legend>
                <div>
                    <label asp-for=@input.Number></label>
                    <input asp-for=@input.Number name=@nameof(input.Number) />
                    <span asp-validation-for=@input.Number></span>
                </div>

                <div>
                    <label asp-for=@input.From></label>
                    <input asp-for=@input.From name=@nameof(input.From) />
                    <span asp-validation-for=@input.From></span>
                </div>

                <div>
                    <label asp-for=@input.To></label>
                    <input asp-for=@input.To name=@nameof(input.To) />
                    <span asp-validation-for=@input.To></span>
                </div>

                <div class="inline-inputs-container">
                    <div>
                        <label asp-for=@input.Departure></label>
                        <input asp-for=@input.Departure name=@nameof(input.Departure) value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" />
                        <span asp-validation-for=@input.Departure></span>
                    </div>

                    <div>
                        <label asp-for=@input.Arrival></label>
                        <input asp-for=@input.Arrival name=@nameof(input.Arrival) value="@DateTime.UtcNow.ToString("yyyy-MM-ddTHH:mm")" />
                        <span asp-validation-for=@input.Arrival></span>
                    </div>
                </div>

                <div>
                    <input class="primary-btn" type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/showHideItemBtn.js" asp-append-version="true"></script>
    <script src="~/js/expandShrinkBtn.js" asp-append-version="true"></script>
    <script src="~/js/validationFlight.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>
}