main {
    text-align: center;
    margin: 3rem;
}

#dashboard ul {
    justify-content: space-evenly;
    margin-top: 3rem;
}

    #dashboard ul li {
        width: 20%;
    }

        #dashboard ul li section {
            border: 1px solid #fca311;
            border-radius: 7px;
            text-align: center;
            font-weight: bold;
        }

        #dashboard ul li a {
            margin-top: 10px;
        }

@media only screen and (max-width: 620px) {
    #dashboard ul {
        display: block;
    }

        #dashboard ul li {
            width: 50%;
            margin: auto;
            margin-bottom: 1rem;
        }
}
