﻿@using Airlines.Persistence.Basic.Entities
@model IEnumerable<Airport>

@{
    ViewData["Title"] = "Airports";
}

@section Styles {
    <link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
}

<div>
    <section id="top-section">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/imgs/left-sidebar.png" alt="Return Back" />
        </a>
        <h2>Airports</h2>
        <div id="top-section-right-element"></div>
    </section>

    @await Html.PartialAsync("_ShowHideButtonPartial", new ShowHideViewModel("all-section", "All"))

    <section id="all-section">
        @{
            var airportFilteringColumns = typeof(Airport).GetProperties().Select(x => x.Name).ToList();
            airportFilteringColumns.Remove("FlightFromNavigations");
            airportFilteringColumns.Remove("FlightToNavigations");
        }

        @await Html.PartialAsync("_AllSearchPartial", airportFilteringColumns)

        <hr />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Code</th>
                    <th>RunwaysCount</th>
                    <th>Founded</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var airport in Model)
                {
                    <tr>
                        <td>@airport.Name</td>
                        <td>@airport.Country</td>
                        <td>@airport.City</td>
                        <td>@airport.Code</td>
                        <td>@airport.RunwaysCount</td>
                        <td>@airport.Founded</td>
                    </tr>
                }
            </tbody>
        </table>

        @await Html.PartialAsync("_ExpandShrinkAllButtonPartial", "#all-section table tbody")

        <a href="#add-section"><button class="primary-btn">Show Form</button></a>
    </section>

    <section id="add-section">
        <form method="post" asp-action="Add">
            @{
                var input = new Airport();
            }
            <fieldset>
                <legend>Add New Airport</legend>
                <div>
                    <label asp-for=@input.Name></label>
                    <input asp-for=@input.Name name=@nameof(input.Name) />
                    <span asp-validation-for=@input.Name></span>
                </div>

                <div>
                    <label asp-for=@input.Country></label>
                    <input asp-for=@input.Country name=@nameof(input.Country) />
                    <span asp-validation-for=@input.Country></span>
                </div>

                <div>
                    <label asp-for=@input.City></label>
                    <input asp-for=@input.City name=@nameof(input.City) />
                    <span asp-validation-for=@input.City></span>
                </div>

                <div>
                    <label asp-for=@input.Code></label>
                    <input asp-for=@input.Code name=@nameof(input.Code) />
                    <span asp-validation-for=@input.Code></span>
                </div>

                <div>
                    <label asp-for=@input.RunwaysCount></label>
                    <input asp-for=@input.RunwaysCount name=@nameof(input.RunwaysCount) />
                    <span asp-validation-for=@input.RunwaysCount></span>
                </div>

                <div>
                    <label asp-for=@input.Founded></label>
                    <input asp-for=@input.Founded name=@nameof(input.Founded) type="date" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for=@input.Founded></span>
                </div>

                <div>
                    <input class="primary-btn" type="submit" value="Submit" />
                </div>
            </fieldset>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/showHideItemBtn.js" asp-append-version="true"></script>
    <script src="~/js/expandShrinkBtn.js" asp-append-version="true"></script>
    <script src="~/js/validationAirport.js" asp-append-version="true"></script>
    <script src="~/js/animation.js" asp-append-version="true"></script>
}